{{!-- <div class="navbar-light bg-light mt-3 mb-0">
    <div class="container">
        <p>©Creato 2005 Kft. - elektronikai hulladék átvételre szakosodott hulladéktelep</p>
        <p>Adószám: 13413402-2-18 | Cím: 9700 Szombathely, Csaba u. 8. | Tel.: +36 94 315 643 | Fax: +36 94 315 643 | Email: info(kukac)creato(pont)hu</p>
    </div>
</div> --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Adatvédelem<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Engedélyek<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kapcsolat">Kapcsolat<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>