<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/documents/Adatkezelesi_szabalyzat_Creato_2005.pdf"
                            target="_blank">Adatvédelem<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/engedelyek">Engedélyek, Dokumentumok<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kapcsolat">Kapcsolat<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{{!-- 
<div class="row">
            <div class="col">
                <p>©Creato 2005 Kft. - elektronikai hulladék átvételre szakosodott hulladéktelep</p>
                <p>Cím: 9700 Szombathely, Csaba u. 8. | Tel./Fax: +36 94 315 643 | Email: info@creato.hu</p>
            </div>
        </div> --}}