<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/image/creato-logo.png" alt="logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-success" href="/">Főoldal<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Felvásárlás
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-success" href="/fem">Fémkereskedelem</a>
                        <a class="dropdown-item text-success" href="/elektronikaifelv">Elektronikai hulladék</a>
                        <a class="dropdown-item text-success" href="/papirfelv">Papírhulladék</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Átvétel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-success" href="/elektronikaiatv">Elektronikai hulladék</a>
                        <a class="dropdown-item text-success" href="/papiratv">Papírhulladék</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/szolgaltatas">Szolgáltatások<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Árlisták
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-success" href="https://www.facebook.com/creato.creato.758" target="_blank">Fém- és papírhulladék árak</a>
                        <a class="dropdown-item text-success" href="/earlista">Elektronikai hulladékárak</a>
                        <a class="dropdown-item text-success" href="/szallitasarlista">Szállítási és irodai papírhulladék megsemmisítési díjak</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/engedelyek">Engedélyek, Dokumentumok<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/kapcsolat">Kapcsolat<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>