<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Anyagárak</div>
    <div class="card-body">
        <p class="card-text">Magánszemélyek esetén a leadáshoz személyigazolvány, lakcímkártya, adókártya szükséges.
            Magánszemélynek naptári
            naponként készpénzben kifizethető maximum összeg: 100 000 Ft. Magánszemélyek fémhulladék leadása szja
            köteles, az
            átadott fémhulladék ellenértékéből 3,75% szja kerül levonásra. Az árváltoztatás jogát fenntartjuk.
        </p>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Anyag csoport</th>
                    <th scope="col">Anyag fajta</th>
                    <th scope="col">Lakossági ár (Ft/kg)</th>
                </tr>
            </thead>
            <tbody>
                {{!-- <tr>
                    <td>Alumínium</td>
                    <td>Nyúzott kábel</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Légvezeték vasmentes</td>
                    <td>230</td>
                </tr> --}}
                <tr>
                    <td>Alumínium</td>
                    <td>Cső, profil vegyesen (vasmentes, max 0.5m)</td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Cső, profil vegyesen (vasmentes, 0.5m-nél nagyobb)</td>
                    <td>140</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Festetlen vegyes lemez, vasmentes</td>
                    <td>140</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Festett vegyes lemez, vasmentes</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Festett profil (vasmentes, max 0.5m)</td>
                    <td>180</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Festett profil (vasmentes, 0.5m-nél nagyobb)</td>
                    <td>140</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Műanyagos profil festett, festetlen (max 0.5m)</td>
                    <td>130</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Műanyagos profil festett, festetlen (0.5m-nél nagyobb)</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Alumínium darálandó</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Italosdoboz vas és szennyeződésmentes</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Öntvény 0%Fe</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Alumínium</td>
                    <td>Öntvény 2%Fe</td>
                    <td>120</td>
                </tr>
                {{!-- <tr>
                    <td>Alumínium</td>
                    <td>Forgács</td>
                    <td>60</td>
                </tr> --}}
                <tr>
                    <td>Réz</td>
                    <td>I/a fényes nyúzott kábel (millb.saru, lemez nélk.)</td>
                    <td>1400</td>
                </tr>
                <tr>
                    <td>Réz</td>
                    <td>Finomítási rézhulladék (huzal, matt cső, lemez)</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>Réz</td>
                    <td>Háztartási vegyes min 87% réztartalom</td>
                    <td>1100</td>
                </tr>
                {{!-- <tr>
                    <td>Sárgaréz</td>
                    <td>Tűforgács</td>
                    <td>545</td>
                </tr> --}}
                <tr>
                    <td>Sárgaréz</td>
                    <td>HT vegyes max 3% idegen anyag tartalom</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Bronz</td>
                    <td>Bronz vörösötvözet vegyes</td>
                    <td>570</td>
                </tr>
                {{!-- <tr>
                    <td>Bronz</td>
                    <td>Bronz vörösötvözet forgács</td>
                    <td>560</td>
                </tr>
                <tr>
                    <td>Bronz</td>
                    <td>Bronz, sárgaréz kevert forgács</td>
                    <td>435</td>
                </tr> --}}
                <tr>
                    <td>Hűtők</td>
                    <td>Vegyes rézhűtő (vas, műag.levonásra kerül)</td>
                    <td>540</td>
                </tr>
                <tr>
                    <td>Hűtők</td>
                    <td>Alumínium hűtő</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Hűtők</td>
                    <td>AlCu hűtő (vas, műag.levonásra kerül)</td>
                    <td>380</td>
                </tr>
                <tr>
                    <td>Horgany</td>
                    <td>Horgany lemez, vas és kátrány mentes</td>
                    <td>280</td>
                </tr>
                <tr>
                    <td>Horgany</td>
                    <td>Horgany lemez, szennyezett</td>
                    <td>230</td>
                </tr>
                {{!-- <tr>
                    <td>Horgany</td>
                    <td>Spiáter</td>
                    <td>165</td>
                </tr> --}}
                <tr>
                    <td>Ólom</td>
                    <td>Vegyes ólom, papír és kátrány mentes</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>Ólom</td>
                    <td>Vegyes ólom, szennyezett</td>
                    <td>200</td>
                </tr>
                {{!-- <tr>
                    <td>Ólom</td>
                    <td>Keréksúly</td>
                    <td>20</td>
                </tr> --}}
                <tr>
                    <td>Akkumulátor</td>
                    <td>Akkumulátor (csak ólom savas v. zselés)</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Saválló</td>
                    <td>Adagolható (max 0.5m)</td>
                    <td>145</td>
                </tr>
                <tr>
                    <td>Saválló</td>
                    <td>Adagolható (0.5m-nél nagyobb)</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Ón</td>
                    <td>50/50 pálca v. rúd</td>
                    <td>600</td>
                </tr>
                {{!-- <tr>
                    <td>Ón</td>
                    <td>63/37 tömb v. rúd</td>
                    <td>1075</td>
                </tr>
                <tr>
                    <td>Ón</td>
                    <td>96/4 tömb vagy rúd</td>
                    <td>3425</td>
                </tr> --}}
                <tr>
                    <td>Vasfém</td>
                    <td>Vas 3 mm felett</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Vasfém</td>
                    <td>Vaslemez</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Kábelek</td>
                    <td>Autókábel</td>
                    <td>180</td>
                </tr>
                <tr>
                    <td>Kábelek</td>
                    <td>Vegyes rézkábel, csatlakozók nélkül</td>
                    <td>130</td>
                </tr>
                <tr>
                    <td>Kábelek</td>
                    <td>Vegyes rézkábel, csatlakozókkal</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Trafók, motorok</td>
                    <td>Trafó, tekercsek, villanymotorok - 20 kg/db alatt</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Trafók, motorok</td>
                    <td>Hűtő motor - 20 kg/db alatt</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Trafók, motorok</td>
                    <td>Motorok - 20 kg/db fölött (vas árban)</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Papír hulladék</td>
                    <td>Újságpapír, szórólap</td>
                    <td>18</td>
                </tr>
                {{!-- <tr>
                    <td>Papír hulladék</td>
                    <td>Újságpapír, szórólap - 1000 kg-ig</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Papír hulladék</td>
                    <td>Újságpapír, szórólap - 1000-2000 kg között</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>Papír hulladék</td>
                    <td>Újságpapír, szórólap - 2000 kg felett</td>
                    <td>22</td>
                </tr> --}}
                
            </tbody>
        </table>
    </div>
</div>