<div class="card mt-3 mb-3">
    <div class="card-header text-white bg-success font-weight-bold">Elektronika hulladékárak</div>
    <div class="card-body">
        <p class="card-text">Magánszemélyek esetén a leadáshoz személyigazolvány, lakcímkártya, adókártya szükséges.
            Magánszemélynek naptári
            naponként készpénzben kifizethető maximum összeg: 100 000 Ft. Magánszemélyek fémhulladék leadása szja
            köteles, az
            átadott fémhulladék ellenértékéből 3,75% szja kerül levonásra. Az árváltoztatás jogát fenntartjuk.
        </p>
        <p class="card-text">Nagy mennyiségek esetén, lépjen kapcs velünk (átírni)</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <img src="/image/ehull1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">KERÁMIA + PROCESSZOR</h5>
                <p class="card-text">Intel 286, 386, 486 típusok</p>
                <p class="card-text">50 000 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull2.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">KERÁMIA</h5>
                <p class="card-text">Kerámia alapú, arany bevonatú (a teteje vagy alja)</p>
                <p class="card-text">18 000 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull3.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">MŰANYAG, RÉZ, LÁB NÉLKÜLI</h5>
                <p class="card-text">Müanyag alapú / tű, láb nélküli / fém alapú CPU</p>
                <p class="card-text">2 000 Ft/kg</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <img src="/image/ehull4.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">ARANY RAM</h5>
                <p class="card-text">Alu hűtőborda nélkül, bármely DDR típus</p>
                <p class="card-text">5 500 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull5.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">EZÜST RAM</h5>
                <p class="card-text">Alu hűtőborda nélkül, bármely típus</p>
                <p class="card-text">2 000 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull6.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">KOMPLETT MOBIL TELEFON</h5>
                <p class="card-text">Okos vagy régi teljes telefonok akkumulátor nélkül</p>
                <p class="card-text">1 350 Ft/kg</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <img src="/image/ehull7.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">1++ ARANY PANEL</h5>
                <p class="card-text">Arany panelok</p>
                <p class="card-text">1 800 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull8.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">1A RÉGI GENERÁCIÓS ALAPLAP</h5>
                <p class="card-text">Régi alaplap, új szerver (nagy foglalat)</p>
                <p class="card-text">1 500 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull9.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">1B ÚJ GENERÁCIÓS ALAPLAP</h5>
                <p class="card-text">Új alaplap (színes, kis foglalat)</p>
                <p class="card-text">750 Ft/kg</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <img src="/image/ehull10.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">II IPARI PANELOK</h5>
                <p class="card-text">Jellemzően telekom eszközökből (csak a jobb minőség)</p>
                <p class="card-text">550 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull11.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">III TV ÉS ROSSZ MINŐSÉGŰ PANELOK</h5>
                <p class="card-text">Harmadosztály és rosszabb minőségű másodosztály</p>
                <p class="card-text">135 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull12.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">III + VAS</h5>
                <p class="card-text">Vasas 3 osztály</p>
                <p class="card-text">70 Ft/kg</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <img src="/image/ehull13.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">TÁPEGYSÉG</h5>
                <p class="card-text">-20 Ft kábel nélkül</p>
                <p class="card-text">85 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull14.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">HDD</h5>
                <p class="card-text">Winchester</p>
                <p class="card-text">270 Ft/kg</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/image/ehull15.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">CD/DVD Meghajtók</h5>
                <p class="card-text">85 Ft/kg</p>
            </div>
        </div>
    </div>
</div>