<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Elektronika hulladékárak</div>
    <div class="card-body">
        <p class="card-text">Magánszemélyek esetén a leadáshoz személyigazolvány, lakcímkártya, adókártya szükséges.
            Magánszemélynek naptári
            naponként készpénzben kifizethető maximum összeg: 100 000 Ft. Magánszemélyek fémhulladék leadása szja
            köteles, az
            átadott fémhulladék ellenértékéből 3,75% szja kerül levonásra. Az árváltoztatás jogát fenntartjuk.
        </p>
        <p class="card-text">Nagy mennyiségek esetén, lépjen kapcs velünk (átírni)</p>
    </div>
</div>

<div class="card mt-3 border-dark d-block d-md-none">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Elektronika hulladék</th>
                    <th scope="col">Leírás</th>
                    <th scope="col">Lakossági ár (Ft/kg)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>KERÁMIA PROCESSZOR</td>
                    <td>Intel 286, 386, 486 típusok</td>
                    <td>40-45 000</td>
                </tr>
                <tr>
                    <td>EGYÉB KERÁMIA PROCESSZOROK</td>
                    <td>Kerámia alapú, arany bevonatú (a teteje vagy alja)</td>
                    <td>15-18 000</td>
                </tr>
                <tr>
                    <td>MŰANYAG ALAPÚ PROCESSZOROK</td>
                    <td>Müanyag alapú / tű, láb nélküli / fém alapú CPU</td>
                    <td>1 500-2 000</td>
                </tr>
                <tr>
                    <td>ARANY RAM</td>
                    <td>Alu hűtőborda nélkül, bármely DDR típus</td>
                    <td>5 500</td>
                </tr>
                <tr>
                    <td>EZÜST RAM</td>
                    <td>Alu hűtőborda nélkül, bármely típus</td>
                    <td>2 000</td>
                </tr>
                <tr>
                    <td>KOMPLETT MOBIL TELEFON</td>
                    <td>Okos vagy régi telefonok akkumulátor és hátlap nélkül</td>
                    <td>900-1 600</td>
                </tr>
                <tr>
                    <td>1++ ARANY PANEL</td>
                    <td>Arany panelok</td>
                    <td>1 800</td>
                </tr>
                <tr>
                    <td>1A RÉGI GENERÁCIÓS ALAPLAP</td>
                    <td>Régi alaplap, új szerver (nagy foglalat)</td>
                    <td>1 500</td>
                </tr>
                <tr>
                    <td>1B ÚJ GENERÁCIÓS ALAPLAP</td>
                    <td>Új alaplap P4 és attól újabb (általában színes panel, kis műanyag és fém foglalat)</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>II EGYÉB PANELOK (B1, B2)</td>
                    <td>Jellemzően telekom, irodatechnikai és szórakoztató elektronikai eszközökből</td>
                    <td>200-550</td>
                </tr>
                <tr>
                    <td>III("C") TV ÉS MONITOR PANELOK</td>
                    <td>Műanyag és vas rögzítőelemek, árnyékolók nélkül</td>
                    <td>135</td>
                </tr>
                <tr>
                    <td>III("C") TV, MONITOR ÉS EGYÉB PANELOK</td>
                    <td>Magas vas, műanyag és egyéb idegen anyag tartalmú</td>
                    <td>50-70</td>
                </tr>
                <tr>
                    <td>TÁPEGYSÉG KÁBELOSTORRAL</td>
                    <td></td>
                    <td>85 (kábelostor nélkül 65)</td>
                </tr>
                <tr>
                    <td>HDD panellel</td>
                    <td></td>
                    <td>270 (panel nélkül 200)</td>
                </tr>
                <tr>
                    <td>CD/DVD Meghajtók</td>
                    <td></td>
                    <td>85</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-none d-md-block">
    <div class="row mt-3">
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull1.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">KERÁMIA PROCESSZOR</h5>
                    <p class="card-text">Intel 286, 386, 486 típusok</p>
                    <p class="card-text">40-45 000 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">EGYÉB KERÁMIA PROCESSZOROK</h5>
                    <p class="card-text">Kerámia alapú, arany bevonatú (a teteje vagy alja)</p>
                    <p class="card-text">15-18 000 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull3.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">MŰANYAG ALAPÚ PROCESSZOROK</h5>
                    <p class="card-text">Müanyag alapú / tű, láb nélküli / fém alapú CPU</p>
                    <p class="card-text">1 500-2 000 Ft/kg</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull4.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">ARANY RAM</h5>
                    <p class="card-text">Alu hűtőborda nélkül, bármely DDR típus</p>
                    <p class="card-text">5 500 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull5.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">EZÜST RAM</h5>
                    <p class="card-text">Alu hűtőborda nélkül, bármely típus</p>
                    <p class="card-text">2 000 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull6.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">KOMPLETT MOBIL TELEFON</h5>
                    <p class="card-text">Okos vagy régi telefonok akkumulátor és hátlap nélkül</p>
                    <p class="card-text">900-1 600 Ft/kg</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull7.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">1++ ARANY PANEL</h5>
                    <p class="card-text">Arany panelok</p>
                    <p class="card-text">1 800 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull8.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">1A RÉGI GENERÁCIÓS ALAPLAP</h5>
                    <p class="card-text">Régi alaplap, új szerver (nagy foglalat)</p>
                    <p class="card-text">1 500 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull9.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">1B ÚJ GENERÁCIÓS ALAPLAP</h5>
                    <p class="card-text">Új alaplap P4 és attól újabb (általában színes panel, kis műanyag és fém
                        foglalat)
                    </p>
                    <p class="card-text">750 Ft/kg</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull10.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">II EGYÉB PANELOK (B1, B2)</h5>
                    <p class="card-text">Jellemzően telekom, irodatechnikai és szórakoztató elektronikai eszközökből</p>
                    <p class="card-text">200-550 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull11.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">III("C") TV ÉS MONITOR PANELOK</h5>
                    <p class="card-text">Műanyag és vas rögzítőelemek, árnyékolók nélkül</p>
                    <p class="card-text">135 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull12.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">III("C") TV, MONITOR ÉS EGYÉB PANELOK</h5>
                    <p class="card-text">Magas vas, műanyag és egyéb idegen anyag tartalmú</p>
                    <p class="card-text">50-70 Ft/kg</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull13.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">TÁPEGYSÉG KÁBELOSTORRAL</h5>
                    <p class="card-text">85 Ft/kg</p>
                    <p class="card-text">kábelostor nélkül 65 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull14.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">HDD panellel</h5>
                    <p class="card-text">270 Ft/kg</p>
                    <p class="card-text">panel nélkül 200 Ft/kg</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card subone">
                <img src="/image/ehull15.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">CD/DVD Meghajtók</h5>
                    <p class="card-text">85 Ft/kg</p>
                </div>
            </div>
        </div>
    </div>
</div>