<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Képcsöves készülékek átvétele ártalmanítási díj ellenében</div>
    <div class="card-body">
        <img src="/image/kepcso.jpg" alt="Képcsöves készülékek" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Hűtőszekrények, fagyasztók átvétele ártalmanítási díj ellenében</div>
    <div class="card-body">
        <img src="/image/haztartasi_nagygepek.jpg" alt="Hűtőszekrények, fagyasztók" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Képet!!!! Mosó- és mosogatógépek átvétele térítésmentesen</div>
    <div class="card-body">
        <img src="/image/haztartasi_nagygepek.jpg" alt="Mosó- és mosogatógépek" class="img-fluid mx-auto d-block">
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Egyéb háztartási eszközök átvétele térítésmentesen</div>
    <div class="card-body">
        <img src="/image/haztartasi_kisgepek.jpg" alt="Egyéb háztartási eszközök" class="img-fluid mx-auto d-block">
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Irodatechnikai és nyomdatechnikai eszközök átvétele térítésmentesen</div>
    <div class="card-body">
        <img src="/image/irodatechnika.jpg" alt="Irodatechnika" class="img-fluid mx-auto d-block">
    </div>
</div>