<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Számítástechnikai eszközök és alkatrészek
        felvásárlása</div>
    <div class="card-body">
        <div class="row">
            <div class="col align-self-center">
                <p>A NYÁK lapok, CPU-k és egyéb alkatrészek felvásárlási árai az “Árlisták” menüpont alatt találhatók.
                    Felhívjuk kedves ügyfeleink figyelmét, hogy az alkatrészek felvásárlási árai kg-os tételre
                    érvényesek, és hűtőbordák-, vas és műanyag rögzítő elemek nélküli anyagokra értendők.
                    Fontos, hogy a NYÁK lapokból gombelemeket, telefonokból az akkukat és a hátlapot el kell távolítani.
                </p>
                <a class="btn btn-danger mt-3" href="/earlista">Árlista megtekintése</a>
            </div>
            <div class="col-6 align-self-center d-none d-md-block">
                <div class="row">
                    <div class="col">
                        <img src="/image/szamtech1.jpg" class="img-fluid mx-auto d-none d-md-block mb-3">
                        <img src="/image/szamtech2.jpg" class="img-fluid mx-auto d-none d-md-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Villanymotorok, trafók felvásárlása</div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/villanymotor.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col align-self-center">
                <p>Az „Árlistában” rögzített ár, a fém és műanyag burkolatok, tartószerkezetek, hajtóművek, stb.
                    nélküli, motorokra, trafókra értendők.
                    A 20 kg feletti motorokat a mindenkori vashulladék árán vesszük át.
                </p>
                <a class="btn btn-danger mt-3" href="https://www.facebook.com/creato.creato.758" target="_blank">Árlista megtekintése</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Rézvezeték felvásárlása</div>
    <div class="card-body">
        <div class="row">
            <div class="col align-self-center">
                <p>A rézvezeték felvásárlásánál fontos szempont, hogy a kábelekről a dugók, csatlakozók el legyenek
                    távolítva.
                    A Fémtörvény értelmében az ipari eredetű és nagyfeszültségű kábelek (még nyúzottan is) csak a
                    Vámhatóság előzetes engedélye után értékesíthetők. Az Engedélyek, Dokumentumok menüpont alól
                    letölthető az <strong>Előzetes bejelentés érzékeny FAJ kódú hulladékról</strong> című nyomtatvány, amit a
                    Vámhatósághoz el kell juttatni.
                </p>
                <a class="btn btn-danger mt-3" href="https://www.facebook.com/creato.creato.758" target="_blank">Árlista megtekintése</a>
            </div>
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/rezvezetek.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>