<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Képcsöves készülékek átvétele ártalmanítási díj
        ellenében</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4"><img src="/image/kepcso.jpg" class="img-fluid mx-auto d-block"></div>
            <div class="col-8">
                <p>Mindenfajta képcsöves készüléket, elsősorban TV-t és monitort, bontatlan állapotban 1500 Ft/db
                    ártalamatlanítási díj megfizetése ellenében veszünk át.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Hűtőszekrények, fagyasztók átvétele ártalmanítási
        díj ellenében</div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>Hűtőszekrényeket, fagyasztó ládákat, hűtő pultokat bontatlan állapotban, ártalmatlanítási díj
                    ellenében veszünk át 1000 Ft/db áron. A hiányos berendezések díja 1500 Ft/db.</p>
            </div>
            <div class="col-4">
                <img src="/image/haztartasi_nagygepek.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Mosó- és mosogatógépek átvétele
        térítésmentesen</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4"><img src="/image/haztartasi_nagygepek2.jpg" class="img-fluid mx-auto d-block"></div>
            <div class="col-8">
                <p>A mosó- és mosogatógépek térítésmentesen lerakhatók telepelyünkön.</p>
                <p> Amennyiben szállítást rendel a hulladék birtokos, akkor az árlista szerinti szállítási díj viszont
                    megfizetendő.</p>
                <a class="btn btn-danger mt-3" href="/szallitasarlista">Árlista megtekintése</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Egyéb háztartási eszközök átvétele átvétele
        ártalmanítási díj ellenében</div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>Bármilyen bontatlan elektromos háztartási és szórakoztató elektronikai eszköz lerakható
                    telephelyünkön ártalmatlanítási díj
                    ellenében 50Ft/kg (minimum 200 Ft/db) áron.</p>
                <p> Amennyiben szállítást rendel a hulladék birtokos, akkor az árlista szerinti szállítási díj viszont
                    megfizetendő.</p>
                <a class="btn btn-danger mt-3" href="/szallitasarlista">Árlista megtekintése</a>
            </div>
            <div class="col-4">
                <img src="/image/haztartasi_kisgepek.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Irodatechnikai és nyomdatechnikai eszközök átvétele
        térítésmentesen</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/image/irodatechnika.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-8">
                <p>Az irodatechnikai és nyomdatechnikai eszközök átvételének fontos feltétele, hogy festékpatront,
                    szalagot nem tartalmazhatnak. </p>
            </div>
        </div>
    </div>
</div>