<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Számítástechnikai eszközök és alkatrészek felvásárlása</div>
    <div class="card-body">
        <img src="/image/szamtech2.jpg" alt="Számítástechnikai alkatrészek" class="img-fluid mx-auto d-block">
    </div>
    <div class="card-body">
        <img src="/image/szamtech.jpg" alt="Számítástechnikai eszközök" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Villanymotorok, trafók felvásárlása</div>
    <div class="card-body">
        <img src="/image/villanymotor.jpg" alt="Villanymotorok, trafók" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Rézvezeték felvásárlása</div>
    <div class="card-body">
        <img src="/image/rezvezetek.jpg" alt="Rézvezeték" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>