<div class="card mt-3">
	<div class="card-body">
		<table class="table table-striped mt-3">
			<thead>
				<tr>
					<th scope="col">Engedély/Dokumentum</th>
					<th scope="col">Letöltés</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Fémkereskedelmi engedély</td>
					<td><a href="/documents/Femkereskedelmi_Engedely.pdf" target="_blank"><i
								class="material-icons">save_alt</i></a>
					</td>
				</tr>
				<tr>
					<td>Hulladékgazdálkodási engedély nem veszélyes hulladékok országos szállítására és gyűjtésére</td>
					<td><a href="/documents/Hulladekgazdalkodasi_Engedely.pdf" target="_blank"><i
								class="material-icons">save_alt</i></a></td>
				</tr>
				<tr>
					<td>Hulladékgazdálkodási engedély veszélyes hulladékok előkezelésére</td>
					<td><a href="/documents/Hulladekgazdalkodasi_Engedely2.pdf" target="_blank"><i
								class="material-icons">save_alt</i></a></td>
				</tr>
				<tr>
					<td>Hulladékgazdálkodási engedély nem veszélyes hulladékok előkezelésére</td>
					<td><a href="/documents/Hulladekgazdalkodasi_Engedely3.pdf" target="_blank"><i
								class="material-icons">save_alt</i></a></td>
				</tr>
				<tr>
					<td>Előzetes bejelentés érzékeny FAJ kódú hulladékról</td>
					<td><a href="/documents/Elozetes_bejelentes_erzekeny_FAJ_kodu_hulladekrol.pdf" target="_blank"><i
								class="material-icons">save_alt</i></a></td>
				</tr>
				<tr>
					<td>FAJ kód lista</td>
					<td><a href="/documents/FAJ_lista.pdf" target="_blank"><i class="material-icons">save_alt</i></a>
					</td>
				</tr>
				<tr>
					<td>Munkaviszonnyal kapcsolatos adatkezelés</td>
					<td><a href="/documents/Munkaviszonnyal_kapcsolatos_adatkezeles.pdf" target="_blank"><i
								class="material-icons">save_alt</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>