<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Vashulladék felvásárlás</div>
    <div class="card-body">
        <img src="/image/vashulladek.jpg" alt="Vashulladék" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Színesfém hulladék felvásárlás</div>
    <div class="card-body">
        <img src="/image/szinesfem1.jpg" alt="Színesfém" class="img-fluid mx-auto d-block">
    </div>
    <div class="card-body">
        <img src="/image/szinesfem2.jpg" alt="Színesfém" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>