<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Vashulladék felvásárlás</div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>Vashulladék alatt az anyagok két kategóriáját különböztetjük meg: vashulladéknak nevezzük a 3 mm-nél
                    vastagabb anyagokat, míg vaslemezhulladéknak a 3 mm-nél vékonyabb anyagokat tartalmazó hulladékot.
                </p>
                <p>Az átvételi ár, az idegen anyagoktól mentes hulladék árát jelenti. Kérjük kedves ügyfeleinket, hogy a
                    beszállítás előtt a hulladékot a nemfém összetevőktől (pl. fa, műanyag, gumi, elektronikai
                    összetevők, stb.)
                    szíveskedjenek megtisztítani.</p>
                <p>A hulladékkereskedelem egyik legfontosabb szabálya: a szelekció. Kérjük ügyfeleinket, hogy a
                    hulladékot
                    megfelelően szelektálva szállítsák be a telephelyre, úgy, hogy a fajtánkénti mérés pontosan
                    elvégezhető
                    legyen.</p>
                <p>A vashulladék kereskedelem fontos szabálya, hogy a Fémtörvény rendelkezik azokról az anyagfajtákról,
                    amelyek
                    csak a Fémkereskedelmi Engedélyezési Hatóság (VÁM) előzetes engedélye után értékesíthetők a
                    fémkereskedők
                    részére. Ezek pl.: sínek, vasúti alkatrészek, vízépítési berendezések, közlekedési műtárgyak,
                    csatorna
                    fedelek, hírközlési berendezések részei, és még néhány más anyag. Ezek pontos felsorolása
                    megtalálható az
                    Engedélyek menüpont alatt a FAJ kódok című anyagban. Az előzetes engedélykéréshez szükséges űrlapot
                    letöltheti ugyanerről a helyről.</p>
            </div>
            <div class="col-4">
                <img src="/image/vashulladek.jpg" alt="Vashulladék" class="img-fluid mx-auto d-block">
                <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Színesfém hulladék felvásárlás</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/image/millberry.jpg" alt="Színesfém" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-8">
                <p>
                    A színesfém hulladékok két nagy csoportja képezi a felvásárolt anyagok döntő részét. Kitüntetett
                    figyelem övezi a réz hulladékokat. Felvásárlási szempontból négy fajtát különböztetünk meg.
                </p>
                <p>
                    Az első a millberry, amit magyarul nyúzottnak is hívunk. Ez a rézhulladék tartalmazza a legkevesebb
                    ötvöző anyagot, szennyeződés mentes, a felülete tiszta, semmilyen bevonat nincs rajta. Állaga puha,
                    könnyen hajlítható.
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>
                    A második a berry, amit magyarul finomítási rézhulladékként ismerünk. Ebből vásárolunk fel a
                    legtöbbet. Ebbe a kategóriába tartoznak a lakkozott huzalok, amit főleg trafók, motorok bontásából
                    lehet kinyerni. Ide tartoznak még a csövek, áramvezető sínek, profilok, lemezek, stb.
                </p>
            </div>
            <div class="col-4">
                <img src="/image/szinesfem1.jpg" alt="Színesfém" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/image/haztartasirez.jpg" alt="Színesfém" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-8">
                <p>
                    A harmadik a háztartási rézhulladék kategória. Ennek jellemző példája az átfolyó vízmelegítő kazánja
                    (köznyelven réz kocka), edények, és egyéb használati eszközök. Ez a kategória tartalmazza a legtöbb
                    szennyeződést és idegen anyagot.
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-8">
                <p>
                    A negyedik kategória a sárgaréz hulladék. Ezt a kategóriát főleg a vízvezetékek szerelvényei, fűtési
                    rendszerek részei, csapok, szelepek, edények tartalmazzák. Nagyon sok szennyező anyag található
                    bennük, így csak fele annyit érnek mint a rézhulladékok.
                </p>
            </div>
            <div class="col-4">
                <img src="/image/szinesfem2.jpg" alt="Színesfém" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <img src="/image/alu1.jpg" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="/image/alu2.jpg" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p>
                    A színesfém hulladékok másik nagy csoportját az alumínium hulladékok képezik.
                    Felvásárlási szempontból az alábbi csoportosításokat használjuk: Megkülönböztetjük a festetlen és
                    festett alumínium hulladékokat.
                    Ezek: lemez, profil, cső,
                </p>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>
                    Öntvények, amelyek lehetnek 0%-os, illetve legfeljebb 2%-os vastartalmúak.
                </p>
            </div>
            <div class="col-4">
                <img src="/image/alu3.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/image/alu4.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-8">
                <p>
                    Háztartási vegyes alumínium hulladék
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>
                    Alumínium italosdoboz
                </p>
            </div>
            <div class="col-4">
                <img src="/image/alu5.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/image/alu6.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-8">
                <p>
                    Vastartalmú válogatandó alumínium hulladék
                </p>
                <p>
                    Az autókból származó motor blokkokat, hengerfejeket, a nagy vastartalom miatt, csak a mindenkori
                    vashulladék árán vesszük át.
                </p>
                <p>Az egyéb fajtájú színesfémek felvásárlási árai az “Árlisták” menüpont alatt találhatók.</p>
                <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
            </div>
        </div>
    </div>
</div>