<div class="row mt-3">
    <div class="col">
        <div class="card border-dark">
            <div class="card-body">
                <h3 class="card-title text-center mb-3">Üdvözöljük a Creato 2005 Kft. honlapján</h3>
                <div class="row">
                    <div class="col">
                        <p class="text-justify">
                            Cégünk 2005-től gyűjt, illetve vásárol fel elektronikai-, 2011-től fém és papírhulladékot.
                            Ügyfeleink között cégek és magán személyek egyaránt megtalálhatók. A begyűjtött és előkezelt
                            hulladékot hazai és külföldi nagykereskedőknek, feldolgozóknak értékesítjük.
                        </p>
                        <p class="text-justify">
                            A hulladékkereskedelem mellett környezetvédelmi, munkavédelmi, tűzvédelmi szolgáltatással,
                            valamint darálással történő iratmegsemmisítési és hulladék szállítási szolgáltatással állunk
                            ügyfeleink rendelkezésére.
                        </p>
                        <p class="text-justify">
                            Cégünk adatkezelési szabályzatát az Adatvédelem menüpont alatt találja, melyből megismerheti
                            az
                            információs folyamatokat, valamint az adatok kezelésével kapcsolatos tevékenységeket.
                        </p>


                    </div>
                    <div class="col">
                        <p class="text-justify">
                            Az “Engedélyek, dokumentumok” menüpontban találhatók meg, és tölthetők le azok az okmányok,
                            amelyek a hulladékkereskedelmi és hulladékkezelési tevékenységünkhöz szükségesek.
                        </p>
                        <p class="text-justify">
                            A térítésmentes és ártalmatlanítási díj fizetéséhez kötött átvétel feltételeit, valamint a
                            felvásárlás szabályait és árait a vonatkozó menüpontokban találja meg.
                        </p>
                        <p class="text-justify">
                            Konzultációs lehetőséget biztosítunk a +36 94 315-643-as ügyfélszolgálíti telefonszámon,
                            valamint válaszolunk az <a href="mailto:info@creato">info@creato</a> e-mail címre küldött
                            kérdésekre.
                        </p>
                        <p class="text-justify">Legyen partnerünk az eredményes hulladék kereskedelemben!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card border-dark">
            <div class="card-body">
                <h2 style="color: red;">A képcsöves készülékek átvétele átmenetileg szünetel!</h2>
                <br>
                <h5 class="card-title">SZORGOS HANGYA HULLADÉK TELEP NYITVATARTÁS</h5>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-4">Hétfő-Péntek</div>
                            <div class="col-6">8:00 - 13:00</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Szombat</div>
                            <div class="col-6">8:00 - 12:00</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">Vasárnap</div>
                            <div class="col-6">zárva</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Ügyfélszolgálat</div>
                            <div class="col-6">+36 94 315-643</div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card border-dark">
            <div class="card-body">
                <h5 class="card-title">NAGYOBB MENNYISÉGE VAN?</h5>
                <p>Ha ön fém- vagy elektronikai hulladék kereskedő, biztosak vagyunk benne, hogy érdemes velünk
                    találkoznia. Rugalmas és előnyös megállapodást tudunk kötni, elsősorban elektromos és elektronikai
                    hulladékok, vagy azok alkatrészeinek (NYÁK) felvásárlásával kapcsolatban.</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm mb-3">
        <div class="card border-dark subone">
            <div class="card-body">
                <div class="icons">
                    <i class="material-icons">
                        memory
                    </i>
                </div>
                <h5 class="card-title">ELFOGADJUK KATEGÓRIÁIT</h5>
                <p class="card-text">Rugalmasak vagyunk partnereink különböző hulladék kategóriáinak / csoportosítási
                    módszereinek elfogadásában.</p>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card border-dark subone">
            <div class="card-body">
                <div class="icons">
                    <i class="material-icons">
                        emoji_people
                    </i>
                </div>
                <h5 class="card-title">RUGALMAS EGYÜTTMŰKÖDÉS CÉGEKKEL</h5>
                <p class="card-text">Velünk gyorsan halad az üzlet. Azonnali döntéseket hozunk, nem kell heteket várni a
                    személyes találkozóra! Fizetés a számla beérkezésétől számított 15 napon bellül átutalással. Adott
                    esetben egyéni megállapodás is lehetséges</p>
            </div>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="card border-dark subone">
            <div class="card-body">
                <div class="icons">
                    <i class="material-icons">
                        attach_money
                    </i>
                </div>
                <h5 class="card-title">MAGÁNSZEMÉLYEKNEK AZONNAL FIZETÜNK!</h5>
                <p class="card-text">Minden esetben azonnal kifizetjük az áru ellenértékét. Felső korlátot csak a
                    Fémtörvény rendelkezései jelentenek(100 000 Ft/fő/nap).</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card border-dark">
            <div class="card-body subtwo">
                <h5 class="card-title">A LEADÁS 3 MÓDJA</h5>
                <p>Hogyan lehet az elektronikai hulladékkal pénzt keresni, és eljuttatni hozzánk?</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm mb-3">
                        <div class="card border-dark subone">
                            <div class="card-body">
                                <i class="material-icons">
                                    person
                                </i>
                                <h5 class="card-title">Hozd be személyesen!</h5>
                                <p class="card-text">Nyitvatartási időben előzetes egyeztetés nélkül van lehetőség a
                                    hulladék leadására. Azonnal készpénzzel fizetünk. (Személyi igazolvány, lakcímkártya
                                    és adókártya szükséges)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm mb-3">
                        <div class="card border-dark subone">
                            <div class="card-body">
                                <i class="material-icons">
                                    local_post_office
                                </i>
                                <h5 class="card-title">Küldd be postán!</h5>
                                <p class="card-text">Kisebb mennyiséget is megéri beküldeni postai küldemény formájában.
                                    Átnézzük, beárazzuk, küldjük a Vételi jegyet emailben, kinyomtatod, aláírod,
                                    beszkenneled,
                                    visszaküldöd emailben, és utaljuk a pénzt a folyószámládra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm mb-3">
                        <div class="card border-dark subone">
                            <div class="card-body">
                                <i class="material-icons">
                                    local_shipping
                                </i>
                                <h5 class="card-title">Kimegyünk hozzád és elhozzuk!</h5>
                                <p class="card-text">500 kg felett saját teherautóval kimegyünk hozzád. 1-3 napon belül
                                    megoldjuk a szállítást Magyarország területén.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-success btn-lg btn-block mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
            </div>
        </div>
    </div>
</div>

<!-- Chrismas Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Tisztelt Ügyfeleink!</h4>
                <div class="mb-1">A hulladéktelep 2021. március 8-tól zárva tart.</div>
                <div class="mb-3">Várható nyitás 2021. március 22-én, hétfőn.</div>
                <a href="http://creato.hu/arlista">
                    {{!-- <div id="13525_hype_container" style="margin:auto;position:relative;width:300px;height:250px;overflow:hidden; cursor: pointer">
                        <script type="text/javascript" charset="utf-8" src="https://media.kisalfold.hu/ftp/hirdetesek/13525_creato/13525.hyperesources/13525_hype_generated_script.js"></script>
                    </div> --}}
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Bezárás</button>
            </div>
        </div>
    </div>
</div>

