<div class="row mt-3">
    <div class="col">
        <h4 class="mt-3">Üdvözöljük a Creato 2005 Kft. honlapján</h4>
        <p>Cégünk 2005 óta vásárol fel elektronikai és fémhulladékokat cégektől és magán személyektől. Kérem
            látogasse meg a <strong>Felvásárlás</strong> menüpont alatt a <a href="/fem">Fémkereskedelem</a>, <a
                href="/elektronikaifelv">Elektronikai hulladék</a>, és <a href="/papirfelv">Papírhulladék</a> oldalakat
            további információkert.</p>
        <p>Ezen fellül cégünk térítésmentesen és ártalmanítási díj ellenében átvesz bizonyos elektronikai- és papírhulladékot. Kérem
            látogasse meg az <strong>Átvétel</strong> menüpont alatt az <a
                href="/elektronikaiatv">Elektronikai hulladék</a>, és <a href="/papiratv">Papírhulladék</a> oldalakat
            további információkert.</p>
    </div>
</div>