<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Creato 2005 Kft.</div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <p class="card-text"><strong>Székhely</strong></p>
                <p class="card-text">Cím: 9700 Szombathely, Szedres utca 18.</p>
                <p class="card-text"><strong>Telephely és levelezési cím</strong></p>
                <p class="card-text">Szorgos Hangya Hulladék Telep</p>
                <p class="card-text">Cím: 9700 Szombathely, Csaba utca 8.</p> 
                <p class="card-text"><strong>Nyitvatartás</strong></p>
                <div class="row">
                    <div class="col-4">Hétfő-Péntek</div>
                    <div class="col-6">8:00 - 13:00</div>
                </div>
                <div class="row">
                    <div class="col-4">Szombat</div>
                    <div class="col-6">8:00 - 12:00</div>
                </div>
                <div class="row">
                    <div class="col-4">Vasárnap</div>
                    <div class="col-6">zárva</div>
                </div>
            </div>
            <div class="col-6">
                <p class="card-text">Adószám: 13413402-2-18</p>
                <p class="card-text">Cégjegyzék szám: 18-09-106202</p>
                <p class="card-text">KÜJ: 101346092</p>
                <p class="card-text">KTJ: 101465785</p>
                <p class="card-text"><strong>Ügyfélszolgálat</strong></p>
                <p class="card-text">Tel./Fax: +36 94 315-643</p>
                <p class="card-text"><strong>Szolgáltatásokkal kapcsolatos érdeklődés esetén</strong></p>
                <p class="card-text">Tel.: +36 70 334-9795</p>
                <div class="row">
                    <div class="col">
                        <p class="card-text">Email: <a href="mailto:info@creato.hu">info@creato.hu</a></p>
                    </div>
                    <div class="col">
                        <p class="card-text"><a href="https://www.facebook.com/ecreato" target="_blank">Facebook</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://maps.google.com/maps?q=creato%202005%20csaba%20utca%208&t=&z=17&ie=UTF8&iwloc=&output=embed"
                allowfullscreen></iframe>
        </div>
    </div>
</div>