<div class="row mt-3 mb-3">
    <div class="col-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://maps.google.com/maps?q=creato%202005%20csaba%20utca%208&t=&z=17&ie=UTF8&iwloc=&output=embed"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Creato 2005 Kft.</h5>
                <p class="card-text">Adószám: 13413402-2-18</p>
                <p class="card-text">Szorgos Hangya Hulladék Telep</p>
                <p class="card-text">Cím: 9700 Szombathely, Csaba utca 8.</p>
                <p class="card-text">Email: <a href="mailto:info@creato.hu">info@creato.hu</a></p>
                <p class="card-text"><strong>Ügyfélszolgálat</strong></p>
                <p class="card-text">Tel./Fax: +36 94 315-643</p>
                <p class="card-text"><strong>Szolgáltatásokkal kapcsolatos érdeklődés esetén</strong></p>
                <p class="card-text">Tel.: +36 70 334-9795</p>
            </div>
        </div>
    </div>
</div>