<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Újság, szórólap felvásárlása</div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p>Az ebbe a kategóriába tartozó hulladék anyagokat kötegelt vagy ömlesztett formában vesszük át.
                    Fontos, hogy a hulladék ne tartalmazzon idegen anyagokat, mint pl. műanyag, karton, keményfedeles
                    könyv, stb.
                </p>
            </div>
            <div class="col-4">
                <img src="/image/ujsag.jpg" class="img-fluid mx-auto d-block">
                <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Fehér alapú újságpapír (nem fényes) felvásárlása
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <img src="/image/ujsag2.jpg" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="/image/ujsag3.jpg" class="img-fluid mx-auto d-block">
                        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p>Kötegelt, még fel nem használt kizárólag újság típusú hulladékot veszünk át ebben a kategóriában,
                    magasabb áron. Fontos, hogy ún. fényes anyag, szórólap nem lehet betétként sem a lapok között.
                </p>
            </div>
        </div>
    </div>
</div>