<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Újság, szórólap felvásárlása</div>
    <div class="card-body">
        <img src="/image/ujsag.jpg" alt="Újság" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Fehér alapú újságpapír (nem fényes) felvásárlása</div>
    <div class="card-body">
        <img src="/image/ujsag2.jpg" alt="Újság" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/arlista">Árlista megtekintése</a>
    </div>
</div>