<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Hullámkarton csomagolóanyag átvétele térítésmentesen
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/karton.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col align-self-center">
                <p>Azok az ügyfeleink, akik a kartonpapír hulladékukat lapra hajtogatják, mentesítik az idegen
                    anyagoktól, mint pl. műanyag fólia, hungarocell, térítésmentesen lerakhatják telephelyünkön.</p>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Könyvek átvétele térítésmentesen
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col align-self-center">
                <p>Könyv papírhulladékot csak térítésmentesen veszünk át. Ez a hulladék csak lerakható a telephelyünkön.
                </p>
            </div>
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/konyvek.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Irodai papírhulladék átvétele térítésmentesen
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/irodaipapir.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col align-self-center">
                <p>Ez a hulladék fajta csak térítésmentesen rakható le a telephelyünkön.</p>
            </div>
        </div>
    </div>
</div>