<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Hullámkarton csomagolóanyag átvétele térítésmentesen</div>
    <div class="card-body">
        <img src="/image/karton.jpg" alt="Karton" class="img-fluid mx-auto d-block">
    </div>
</div>