<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Újság, szórólap felvásárlása</div>
    <div class="card-body">
        <div class="row">
            <div class="col align-self-center">
                <p>Az ebbe a kategóriába tartozó hulladék anyagokat kötegelt vagy ömlesztett formában vesszük át.
                    Fontos, hogy a hulladék ne tartalmazzon idegen anyagokat, mint pl. műanyag, karton, keményfedeles
                    könyv, stb.
                </p>
                <a class="btn btn-danger mt-3" href="https://www.facebook.com/creato.creato.758" target="_blank">Árlista megtekintése</a>
            </div>
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/ujsag.jpg" class="img-fluid mx-auto d-block">        
            </div>
        </div>
    </div>
</div>