<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Hullámkarton csomagolóanyag átvétele térítésmentesen
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/image/karton.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-8">
                <p>Azok az ügyfeleink, akik a kartonpapír hulladékukat lapra hajtogatják, mentesítik az idegen
                    anyagoktól, mint pl. műanyag fólia, hungarocell, térítésmentesen lerakhatják telephelyünkön.</p>
            </div>
        </div>
    </div>
</div>