<div class="card border-dark mt-3">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Szállítási díjak</div>
    <div class="card-body">
        <p class="card-text">Szombathely belterületén a szállítási díj 2 500 Ft</p>
        <p class="card-text">A gépkocsivezetőn kívül igényelt rakodó díja 2 500 Ft/fő (maximum +2 fő lehet)</p>
        <p class="card-text"><strong>Az árak az ÁFA-t tartalmazzák</strong></p>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Szombathelytől mért távolság (Km)</th>
                            <th scope="col">Szállítási díj (Ft)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>5 080</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>7 620</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>10 160</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>12 700</td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>15 240</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>17 780</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>20 320</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>22 860</td>
                        </tr>
                        <tr>
                            <td>45</td>
                            <td>25 400</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>27 940</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Szombathelytől mért távolság (Km)</th>
                            <th scope="col">Szállítási díj (Ft)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>55</td>
                            <td>30 480</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>33 020</td>
                        </tr>
                        <tr>
                            <td>65</td>
                            <td>35 560</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>38 100</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>40 640</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>43 180</td>
                        </tr>
                        <tr>
                            <td>85</td>
                            <td>45 720</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>48 260</td>
                        </tr>
                        <tr>
                            <td>95</td>
                            <td>50 800</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>53 340</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Irodai papírhulladék megsemmisítési díjak
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Az árak az ÁFA-t nem tartalmazzák</strong></p>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Papírhulladék</th>
                            <th scope="col">Átvételi díj (Ft/kg)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fémmentes</td>
                            <td>100</td>
                            <td>Amennyiben az iratokat nem kell gyűjtőkből kiszedni és gémkapocsnál,
                                tűzőgépkapocsnál
                                nagyobb fémet nem tartalmaznak, tehát azonnal darálhatók</td>
                        </tr>
                        <tr>
                            <td>Fémes, válogatandó</td>
                            <td>150</td>
                            <td>Ha az előbb említettnél nagyobb fémet tartalmaznak, gyűjtőzve, befűzve vannak,
                                tehát az
                                iratokat ki kell szedni belőlük.</td>
                        </tr>
                        <tr>
                            <td>CD, DVD lemez megsemmisítése</td>
                            <td>200</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>