<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Környezetvédelmi szolgáltatás</div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices, enim id pretium
            cursus, orci felis ornare
            est, et sagittis sapien augue id lectus. Nullam volutpat lacus eget eros molestie, id faucibus ipsum cursus.
        </p>
        <a class="btn btn-danger mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Munkavédelmi szolgáltatás</div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices, enim id pretium
            cursus, orci felis ornare
            est, et sagittis sapien augue id lectus. Nullam volutpat lacus eget eros molestie, id faucibus ipsum cursus.
        </p>
        <a class="btn btn-danger mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Tűzvédelmi szolgáltatás</div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices, enim id pretium
            cursus, orci felis ornare
            est, et sagittis sapien augue id lectus. Nullam volutpat lacus eget eros molestie, id faucibus ipsum cursus.
        </p>
        <a class="btn btn-danger mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-white bg-success font-weight-bold">Hulladék szállítási szolgáltatás</div>
    <div class="card-body">
        <img src="/image/szallitas.jpg" alt="Háztartási nagygépek" class="img-fluid mx-auto d-block">
        <a class="btn btn-danger mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>