<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Környezetvédelmi szolgáltatás</div>
    <div class="card-body">
        <p class="card-text">Cégünk vállalja környezetvédelmi engedélyeztetési eljárások lefolytatását, cégképviseletet,
            komplex okmányrendszerek kidolgozását, információs jelentések összeállítását.
        </p>
        <a class="btn btn-success mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Munkavédelmi szolgáltatás</div>
    <div class="card-body">
        <p class="card-text">Elvégezzük a cégek eszközeinek, munkafolyamatainak munkavédelmi átvizsgálását. Kialakítjuk
            a szükséges okmányrendszereket, végzünk kockázat becslést, és biztosítunk folyamatos tanácsadást.
        </p>
        <a class="btn btn-success mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Tűzvédelmi szolgáltatás</div>
    <div class="card-body">
        <p class="card-text">Megalkotjuk, ellenőrizzük a cégek tűzvédelmi okmányrendszerét. Megszervezzük és elvégezzük
            a tűzvédelmi eszközök beszerzését, szakszerű kihelyezését, és az időszakos vizsgálatokat.
        </p>
        <a class="btn btn-success mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Hulladék szállítási szolgáltatás</div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/szallitas.jpg" alt="Háztartási nagygépek" class="img-fluid mx-auto d-block">
            </div>
            <div class="col align-self-center">
                <p>3.5 tonnás, dobozos szállítójárművünkkel vállalunk begyűjtési célú fém- és elektronikai hulladék
                    szállítást. Tarifáinkat megtalálja az “Árlisták” menüpont alatt.</p>
                <a class="btn btn-success mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
                <a class="btn btn-danger mt-3" href="/szallitasarlista">Árlista megtekintése</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3 border-dark">
    <div class="card-header text-dark border-dark bg-light font-weight-bold">Iratmegsemmisités</div>
    <div class="card-body">
        <div class="row">
            <div class="col align-self-center">
                <p>Cégünk vállalja bizalmas adattartalommal rendelkező iratok darálással történő megsemmisítését. Ennek
                    a szolgáltatásnak a tarifáit is megtalálja az “Árlisták” menüpont alatt.</p>
                <a class="btn btn-success mt-3" href="/kapcsolat">Kapcsolatfelvétel</a>
                <a class="btn btn-danger mt-3" href="/szallitasarlista">Árlista megtekintése</a>
            </div>
            <div class="col-6 align-self-center d-none d-md-block">
                <img src="/image/iratmegsemmisites.jpg" alt="Háztartási nagygépek" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>