.subone{
    height: 100%;
    text-align: center;
}

.subtwo{
    text-align: center;
    padding-bottom: 0px;
}

.icons{
    text-align: center;
    padding-bottom: 1rem;
}

.material-icons{
    font-size: 300%;
}

